.project {
  .project-header {
    margin-bottom: 2.5rem;
    .title {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
    }

    .subtitle {
      text-align: center;
      font-style: italic;
      font-size: 1.1rem;
      font-weight: 100;
    }

    @include from($tablet) {
      .title {
        font-size: 5rem;
      }
      .subtitle {
        font-size: 1.5rem;
      }
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
