@import "~mdi/css/materialdesignicons.min.css";
// Bulma customization
@import "~bulma/sass/utilities/initial-variables";
$family-monospace: "Inconsolata",
monospace;
$family-serif: "Aleo",
sans-serif;
$family-primary: $family-serif;
$navbar-item-hover-background-color: transparent;
@import "~bulma";
html {
  // Override bulma so that the body can control overflow
  overflow: initial;
}

@import "fonts/fonts";
p {
  font-family: $family-monospace;
}

@import "navbar";
@import "project";
@import "cv";
@import "contact";
body.mobile-menu-open {
  @include touch {
    overflow-y: hidden;
  }
}