@import "~mdi/css/materialdesignicons.min.css";

// Bulma customization
@import "~bulma/sass/utilities/initial-variables";
$family-primary: "Aleo", sans-serif;
$navbar-item-hover-background-color: transparent;
@import "~bulma";

.navbar {
  font-size: 1.9rem;

  .navbar-brand {
    justify-content: space-between;
  }

  .mobile-menu-button {
    cursor: pointer;
    font-size: 2.25rem;
  }

  .navbar-logo {
    font-size: 3rem;
    letter-spacing: -0.1rem;

    .logo-bracket {
      font-size: 3.25rem;
    }
  }

  .navbar-item {
    text-transform: lowercase;

    &::before,
    &::after {
      opacity: 0;
      font-size: 0.5em;
      transform: translateX(0px);
      transition: all 0.2s;
    }

    &::before {
      margin-right: -5px;
      content: "[";
    }
    &::after {
      margin-left: -5px;
      content: "]";
    }

    &.active {
      &::before {
        opacity: 1;
        transform: translateX(-7px);
      }
      &::after {
        opacity: 1;
        transform: translateX(7px);
      }
    }
  }

  .github-icon {
    font-size: 2.4rem;
    margin-top: 4px;
  }

  .mobile-menu {
    text-align: center;
  }
}
